body{
  width: 100%;
}

.row{
  margin-bottom: 20px;
}
h1{
  font-size: 5em;
  text-align: center;
  align-items: baseline;
}

h2{
  text-align: center;
  color: black;
}

h3{
  font-size: 1.5em;
}

.footer{
  width: 100%;
  background-color: black;
}

.footer p{
  color : white;
  align-items: baseline;
}
